In [2]:
import pandas as pd

df = pd.read_csv("/root/jw/TAPTAP_IRT/run/IRT/GD_inference/integration_test/compiled_data_with_penalty_2023.csv")
# Sample data as a string
df

      Subject    Rank                 Solving History  Target Score
0         한국사     low  [1, 1, 1, 1, 0, 0, 0, 1, 0, 0]     13.000000
1         한국사     low  [0, 0, 0, 0, 0, 1, 0, 0, 1, 0]      5.000000
2         한국사     low  [0, 0, 1, 0, 1, 1, 1, 0, 0, 0]     10.962117
3         한국사     low  [0, 1, 1, 0, 0, 0, 1, 0, 0, 0]      8.000000
4         한국사     low  [0, 0, 1, 0, 0, 1, 0, 1, 0, 1]     10.962117
...       ...     ...                             ...           ...
23547   지구과학Ⅰ     low  [0, 0, 1, 1, 1, 1, 1, 0, 1, 0]     -0.792682
23548   지구과학Ⅰ     low  [0, 1, 0, 0, 0, 1, 1, 0, 0, 1]     -1.070909
23549   지구과학Ⅰ  middle  [1, 0, 1, 1, 1, 1, 0, 1, 1, 1]     -0.598184
23550   지구과학Ⅰ     low  [0, 0, 0, 0, 0, 1, 1, 0, 0, 1]     -1.038327
23551   지구과학Ⅰ     low  [0, 0, 1, 1, 1, 0, 0, 1, 0, 0]     -1.043620

[23552 rows x 4 columns]

In [3]:
# Group by 'Subject' and 'Rank' and calculate counts and percentages
rank_counts = df.groupby(['Subject', 'Rank']).size().reset_index(name='Count')

# Calculate percentages within each Subject
rank_counts['Percentage'] = rank_counts.groupby('Subject')['Count'].transform(lambda x: (x / x.sum()) * 100)

In [4]:

# Display the results
result = rank_counts.pivot(index='Subject', columns='Rank', values=['Count', 'Percentage'])
result = result.fillna(0)  # Fill NaN with 0 for subjects with missing Ranks
result

         Count               Percentage
Rank      high    low middle       high        low     middle
Subject
경제        46.0  858.0  120.0   4.492188  83.789062  11.718750
독서,문학    227.0  496.0  301.0  22.167969  48.437500  29.394531
독해,듣기    102.0  764.0  158.0   9.960938  74.609375  15.429688
동아시아사     56.0  798.0  170.0   5.468750  77.929688  16.601562
물리학Ⅰ      56.0  849.0  119.0   5.468750  82.910156  11.621094
물리학Ⅱ     361.0  578.0   85.0  35.253906  56.445312   8.300781
사회?문화    184.0  672.0  168.0  17.968750  65.625000  16.406250
생명과학Ⅰ    129.0  740.0  155.0  12.597656  72.265625  15.136719
생명과학Ⅱ     55.0  857.0  112.0   5.371094  83.691406  10.937500
생활과 윤리    52.0  862.0  110.0   5.078125  84.179688  10.742188
세계사      226.0  413.0  385.0  22.070312  40.332031  37.597656
세계지리      50.0  852.0  122.0   4.882812  83.203125  11.914062
수학Ⅰ,수학Ⅱ   64.0  764.0  196.0   6.250000  74.609375  19.140625
윤리와 사상   167.0  857.0    0.0  16.308594  83.691406   0.000000
정치와 법     56.0  858.0  110.0   5.468750  83.789062  10.742188
지구과학Ⅰ     70.0  766.0  188.0   6.835938  74.804688  18.359375
지구과학Ⅱ     53.0  849.0  122.0   5.175781  82.910156  11.914062
통합과학      11.0  870.0  143.0   1.074219  84.960938  13.964844
통합사회      11.0  968.0   45.0   1.074219  94.531250   4.394531
한국사       56.0  681.0  287.0   5.468750  66.503906  28.027344
한국지리      11.0  870.0  143.0   1.074219  84.960938  13.964844
화학Ⅰ      152.0  654.0  218.0  14.843750  63.867188  21.289062
화학Ⅱ       56.0  798.0  170.0   5.468750  77.929688  16.601562