In [2]:
import pandas as pd

df = pd.read_csv("/root/jw/TAPTAP_IRT/run/IRT/GD_inference/integration_test/compiled_data.csv")
# Sample data as a string
df

      Subject    Rank                 Solving History  Target Score
0         한국사     low  [1, 1, 1, 1, 0, 0, 0, 1, 0, 0]     12.000000
1         한국사     low  [0, 0, 0, 0, 0, 1, 0, 0, 1, 0]      5.979337
2         한국사     low  [0, 0, 1, 0, 1, 1, 1, 0, 0, 0]     10.962117
3         한국사     low  [0, 1, 1, 0, 0, 0, 1, 0, 0, 0]      8.000000
4         한국사     low  [0, 0, 1, 0, 0, 1, 0, 1, 0, 1]     10.000000
...       ...     ...                             ...           ...
23547   지구과학Ⅰ     low  [0, 0, 1, 1, 1, 1, 1, 0, 1, 0]     -1.338525
23548   지구과학Ⅰ     low  [0, 1, 0, 0, 0, 1, 1, 0, 0, 1]     -1.420802
23549   지구과학Ⅰ  middle  [1, 0, 1, 1, 1, 1, 0, 1, 1, 1]     -0.768452
23550   지구과학Ⅰ     low  [0, 0, 0, 0, 0, 1, 1, 0, 0, 1]     -1.244490
23551   지구과학Ⅰ     low  [0, 0, 1, 1, 1, 0, 0, 1, 0, 0]     -1.223509

[23552 rows x 4 columns]

In [3]:
# Group by 'Subject' and 'Rank' and calculate counts and percentages
rank_counts = df.groupby(['Subject', 'Rank']).size().reset_index(name='Count')

# Calculate percentages within each Subject
rank_counts['Percentage'] = rank_counts.groupby('Subject')['Count'].transform(lambda x: (x / x.sum()) * 100)

In [4]:

# Display the results
result = rank_counts.pivot(index='Subject', columns='Rank', values=['Count', 'Percentage'])
result = result.fillna(0)  # Fill NaN with 0 for subjects with missing Ranks
result

         Count               Percentage
Rank      high    low middle       high        low     middle
Subject
경제        56.0  858.0  110.0   5.468750  83.789062  10.742188
독서,문학    216.0  492.0  316.0  21.093750  48.046875  30.859375
독해       208.0  609.0  207.0  20.312500  59.472656  20.214844
동아시아사     46.0  908.0   70.0   4.492188  88.671875   6.835938
물리학Ⅰ      56.0  708.0  260.0   5.468750  69.140625  25.390625
물리학Ⅱ     172.0  579.0  273.0  16.796875  56.542969  26.660156
사회?문화    133.0  704.0  187.0  12.988281  68.750000  18.261719
생명과학Ⅰ    242.0  625.0  157.0  23.632812  61.035156  15.332031
생명과학Ⅱ    111.0  666.0  247.0  10.839844  65.039062  24.121094
생활과 윤리    57.0  819.0  148.0   5.566406  79.980469  14.453125
세계사      326.0  413.0  285.0  31.835938  40.332031  27.832031
세계지리      21.0  918.0   85.0   2.050781  89.648438   8.300781
수학Ⅰ,수학Ⅱ   44.0  867.0  113.0   4.296875  84.667969  11.035156
윤리와 사상    53.0  849.0  122.0   5.175781  82.910156  11.914062
정치와 법    106.0  698.0  220.0  10.351562  68.164062  21.484375
지구과학Ⅰ    129.0  697.0  198.0  12.597656  68.066406  19.335938
지구과학Ⅱ     53.0  681.0  290.0   5.175781  66.503906  28.320312
통합과학      53.0  870.0  101.0   5.175781  84.960938   9.863281
통합사회      11.0  918.0   95.0   1.074219  89.648438   9.277344
한국사      119.0  681.0  224.0  11.621094  66.503906  21.875000
한국지리     166.0  643.0  215.0  16.210938  62.792969  20.996094
화학Ⅰ      152.0  654.0  218.0  14.843750  63.867188  21.289062
화학Ⅱ      166.0  698.0  160.0  16.210938  68.164062  15.625000